<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/header') %>
</head>
<body>
    <div class="container navmenu">
        <h1>Hello,</h1> 
        <h2> Welcome in my Node.js and EJS tutorial</h2>
    </div>

    <%- include('../components/footer') %>
</body>
</html>