* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to left, rgb(214, 38, 147), rgb(146, 7, 146));
    color: #fff;
}

.navmenu {
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    background: linear-gradient(to left, #fff, rgb(241, 240, 240));
    color:rgb(75, 3, 75);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}